.padre{
    background-color: rgb(226, 220, 211);
    padding: 5px;
    display: grid;
    grid-template-columns: 30% ;
    grid-template-rows: 40%;
    width: 100%;
    height: 550px;
}
.hijo1{
    background-color: rgb(227, 52, 47);
    margin: 5px;
    grid-column: 1/5;
}
.hijo2{
    background-color: rgb(246, 153, 63);
    margin: 5px;
    grid-column: 1/3;
}
.hijo3{
    background-color: rgb(255, 237, 74);
    margin: 5px;
    grid-column: 3/4;
}
.hijo4{
    background-color: rgb(56, 193, 114);
    margin: 5px;
    grid-column: 4/4;
}
.hijo5{
    background-color: rgb(77, 192, 181);
    margin: 5px;
}
.hijo6{
    background-color: rgb(52, 144, 220);
    margin: 5px;
    grid-column: 2/5;
}
.hijo7{
    background-color: rgb(101, 116, 205);
    margin: 5px;
    grid-column: 1/3;
    grid-row: 4/6;
}
.hijo8{
    background-color: rgb(149, 97, 226);
    margin: 5px;
    grid-column: 3/5;
}
.hijo9{
    background-color: rgb(246, 109, 155);
    margin: 5px;
    grid-column: 3/5;
}
.conteiner{
    background-color: rgb(226, 220, 211);
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.caja1{
    background-color: rgb(190,209,207);
    margin: 10px;
    display: flex;
    width: 220px;
    height: 550px;
    position: relative;
    left: 30px;
    justify-items: flex-start;
}
.caja2{
    background-color: rgb(221, 159, 177);
    margin: 10px;
    display: flex;
    width: 350px;
    height: 550px;
    position: relative;
    left: 30px;
}
.rectangulo{
    background-color: rgb(99, 136, 137);
    margin: 10px;
    width: 100%;
    height: 150px;
    justify-items: center;
    position: relative;
}
.cuadrado1{
    background-color: rgb(157, 188, 152);
    margin: 10px;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 200px;
    right: 180px;
}
.cuadrado2{
    background-color: rgb(235, 217, 180);
    margin: 10px;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 200px;
    left: 180px;
}
.caja3{
    background-color: rgb(255, 228, 201);
    margin: 10px;
    display: flex;
    width: 220px;
    height: 550px;
    position: relative;
    left: 30px;
    justify-items: flex-end;
}